extends layout

block content
  div.container

    div.item1
      ul
        li.circle 
          a(href="") 7
    div.item2
      ul
        li.circle 
          a(href="") 6
        li.circle 
          a(href="") 20
    div.item3
      ul
        li.circle 
          a(href="") 3
        li.circle 
          a(href="") 5
        li.circle 
          a(href="") 21
        li.circle 
          a(href="") 27
    div.item4
      ul
        li.circle 
          a(href="") 0
        li.circle 
          a(href="") 1
        li.circle 
          a(href="") 2
        li.circle 
          a(href="") 4
      div
        a.btn.btn-default(href= '/insert') Insert Node
        a.btn.btn-info(href= '/list')  Node List
    
  
    