extends layout

block content
    div.container
        a.btn.btn-default.btn-lg(href= '/') Back Home
        table.table
            thead
                tr
                    th Name
                    th Description
                    th Parent
                    th Read Only
                    th
                    th
            tbody
                each item in list
                    tr
                        td=item.nodeName
                        td=item.description
                        td=item.parent
                        td=item.readOnly
                        td
                            a.btn.btn-info(href= '/update/' + item._id) Edit 
                        td 
                            a.btn.btn-info(href= '/delete/' + item._id onclick="return confirm('Are you sure to delete this record ?'); ") Delete 
            
